In [1]:
from sqlite3 import connect

In [2]:
conn = connect("my_database.sqlite")
c = conn.cursor()

In [3]:
c

In [4]:
c.execute("""
CREATE TABLE students (id, first_name, last_name)
""")

In [5]:
c.execute("""
PRAGMA table_info(students)
""").fetchall()

[(0, 'id', '', 0, None, 0),
 (1, 'first_name', '', 0, None, 0),
 (2, 'last_name', '', 0, None, 0)]

In [6]:
c.execute("""
INSERT INTO students (id, first_name, last_name) VALUES (1, "Alice", "Smith");
""")

In [7]:
c.execute("""
INSERT INTO students (id, first_name, last_name) VALUES (2, "Bob", "Smith");
""")

In [9]:
c.execute("""
SELECT * FROM students;
""").fetchall()

[(1, 'Alice', 'Smith'), (2, 'Bob', 'Smith')]

In [10]:
c.execute("""
SELECT last_name, first_name FROM students;
""").fetchall()

[('Smith', 'Alice'), ('Smith', 'Bob')]

In [11]:
import pandas as pd

In [14]:
df = pd.read_csv(
  "https://github.com/Godoy/imdb-5000-movie-dataset/raw/master/data/movie_metadata.csv")

In [15]:
df.to_sql("movies", conn)

In [16]:
c.execute("""
PRAGMA table_info(movies)
""").fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'color', 'TEXT', 0, None, 0),
 (2, 'director_name', 'TEXT', 0, None, 0),
 (3, 'num_critic_for_reviews', 'REAL', 0, None, 0),
 (4, 'duration', 'REAL', 0, None, 0),
 (5, 'director_facebook_likes', 'REAL', 0, None, 0),
 (6, 'actor_3_facebook_likes', 'REAL', 0, None, 0),
 (7, 'actor_2_name', 'TEXT', 0, None, 0),
 (8, 'actor_1_facebook_likes', 'REAL', 0, None, 0),
 (9, 'gross', 'REAL', 0, None, 0),
 (10, 'genres', 'TEXT', 0, None, 0),
 (11, 'actor_1_name', 'TEXT', 0, None, 0),
 (12, 'movie_title', 'TEXT', 0, None, 0),
 (13, 'num_voted_users', 'INTEGER', 0, None, 0),
 (14, 'cast_total_facebook_likes', 'INTEGER', 0, None, 0),
 (15, 'actor_3_name', 'TEXT', 0, None, 0),
 (16, 'facenumber_in_poster', 'REAL', 0, None, 0),
 (17, 'plot_keywords', 'TEXT', 0, None, 0),
 (18, 'movie_imdb_link', 'TEXT', 0, None, 0),
 (19, 'num_user_for_reviews', 'REAL', 0, None, 0),
 (20, 'language', 'TEXT', 0, None, 0),
 (21, 'country', 'TEXT', 0, None, 0),
 (22, 'content_rating', 'TEXT', 0, None, 0),
 (23, 'budget', 'REAL', 0, None, 0),
 (24, 'title_year', 'REAL', 0, None, 0),
 (25, 'actor_2_facebook_likes', 'REAL', 0, None, 0),
 (26, 'imdb_score', 'REAL', 0, None, 0),
 (27, 'aspect_ratio', 'REAL', 0, None, 0),
 (28, 'movie_facebook_likes', 'INTEGER', 0, None, 0)]

In [20]:
pd.read_sql("""SELECT * FROM movies""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,None,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,None,None,None,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,...,6.0,English,Canada,None,NaN,2013.0,470.0,7.7,NaN,84
5039,5039,Color,None,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,...,3.0,English,USA,None,1400.0,2013.0,0.0,6.3,NaN,16
5041,5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [18]:
pd.DataFrame(c.execute("""
SELECT * FROM movies
""").fetchall())

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,None,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,None,None,None,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,...,6.0,English,Canada,None,NaN,2013.0,470.0,7.7,NaN,84
5039,5039,Color,None,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,...,3.0,English,USA,None,1400.0,2013.0,0.0,6.3,NaN,16
5041,5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [21]:
pd.read_sql("""
SELECT * FROM movies
LIMIT 10
""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,None,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,None,None,None,NaN,NaN,12.0,7.1,NaN,0
5,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [22]:
pd.read_sql("""
SELECT * FROM movies
WHERE director_name == "James Cameron"
""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,26,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658672302.0,...,2528.0,English,USA,PG-13,200000000.0,1997.0,14000.0,7.7,2.35,26000
2,288,Color,James Cameron,210.0,153.0,0.0,539.0,Jenette Goldstein,780.0,204843350.0,...,983.0,English,USA,R,102000000.0,1991.0,604.0,8.5,2.35,13000
3,291,Color,James Cameron,94.0,141.0,0.0,618.0,Tia Carrere,2000.0,146282411.0,...,351.0,English,USA,R,115000000.0,1994.0,1000.0,7.2,2.35,0
4,606,Color,James Cameron,82.0,171.0,0.0,638.0,Todd Graff,2000.0,54222000.0,...,380.0,English,USA,PG-13,69500000.0,1989.0,650.0,7.6,2.35,0
5,2486,Color,James Cameron,250.0,154.0,0.0,604.0,Carrie Henn,2000.0,85200000.0,...,1076.0,English,USA,R,18500000.0,1986.0,626.0,8.4,1.85,18000
6,3575,Color,James Cameron,204.0,107.0,0.0,255.0,Brian Thompson,2000.0,38400000.0,...,692.0,English,UK,R,6500000.0,1984.0,663.0,8.1,1.85,13000

In [23]:
pd.read_sql("""
SELECT avg(duration) FROM movies
""", conn)

   avg(duration)
0     107.201074

In [25]:
c.execute("""
SELECT * FROM movies LIMIT 10
""").fetchall()

[(0,
  'Color',
  'James Cameron',
  723.0,
  178.0,
  0.0,
  855.0,
  'Joel David Moore',
  1000.0,
  760505847.0,
  'Action|Adventure|Fantasy|Sci-Fi',
  'CCH Pounder',
  'Avatar\xa0',
  886204,
  4834,
  'Wes Studi',
  0.0,
  'avatar|future|marine|native|paraplegic',
  'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1',
  3054.0,
  'English',
  'USA',
  'PG-13',
  237000000.0,
  2009.0,
  936.0,
  7.9,
  1.78,
  33000),
 (1,
  'Color',
  'Gore Verbinski',
  302.0,
  169.0,
  563.0,
  1000.0,
  'Orlando Bloom',
  40000.0,
  309404152.0,
  'Action|Adventure|Fantasy',
  'Johnny Depp',
  "Pirates of the Caribbean: At World's End\xa0",
  471220,
  48350,
  'Jack Davenport',
  0.0,
  'goddess|marriage ceremony|marriage proposal|pirate|singapore',
  'http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1',
  1238.0,
  'English',
  'USA',
  'PG-13',
  300000000.0,
  2007.0,
  5000.0,
  7.1,
  2.35,
  0),
 (2,
  'Color',
  'Sam Mendes',
  602.0,
  148.0,
  0.0,
  161.0,
  'Rory Kinnear',
  11000.0,
  200074175.0,
  'Action|Adventure|Thriller',
  'Christoph Waltz',
  'Spectre\xa0',
  275868,
  11700,
  'Stephanie Sigman',
  1.0,
  'bomb|espionage|sequel|spy|terrorist',
  'http://www.imdb.com/title/tt2379713/?ref_=fn_tt_tt_1',
  994.0,
  'English',
  'UK',
  'PG-13',
  245000000.0,
  2015.0,
  393.0,
  6.8,
  2.35,
  85000),
 (3,
  'Color',
  'Christopher Nolan',
  813.0,
  164.0,
  22000.0,
  23000.0,
  'Christian Bale',
  27000.0,
  448130642.0,
  'Action|Thriller',
  'Tom Hardy',
  'The Dark Knight Rises\xa0',
  1144337,
  106759,
  'Joseph Gordon-Levitt',
  0.0,
  'deception|imprisonment|lawlessness|police officer|terrorist plot',
  'http://www.imdb.com/title/tt1345836/?ref_=fn_tt_tt_1',
  2701.0,
  'English',
  'USA',
  'PG-13',
  250000000.0,
  2012.0,
  23000.0,
  8.5,
  2.35,
  164000),
 (4,
  None,
  'Doug Walker',
  None,
  None,
  131.0,
  None,
  'Rob Walker',
  131.0,
  None,
  'Documentary',
  'Doug Walker',
  'Star Wars: Episode VII - The Force Awakens\xa0            ',
  8,
  143,
  None,
  0.0,
  None,
  'http://www.imdb.com/title/tt5289954/?ref_=fn_tt_tt_1',
  None,
  None,
  None,
  None,
  None,
  None,
  12.0,
  7.1,
  None,
  0),
 (5,
  'Color',
  'Andrew Stanton',
  462.0,
  132.0,
  475.0,
  530.0,
  'Samantha Morton',
  640.0,
  73058679.0,
  'Action|Adventure|Sci-Fi',
  'Daryl Sabara',
  'John Carter\xa0',
  212204,
  1873,
  'Polly Walker',
  1.0,
  'alien|american civil war|male nipple|mars|princess',
  'http://www.imdb.com/title/tt0401729/?ref_=fn_tt_tt_1',
  738.0,
  'English',
  'USA',
  'PG-13',
  263700000.0,
  2012.0,
  632.0,
  6.6,
  2.35,
  24000),
 (6,
  'Color',
  'Sam Raimi',
  392.0,
  156.0,
  0.0,
  4000.0,
  'James Franco',
  24000.0,
  336530303.0,
  'Action|Adventure|Romance',
  'J.K. Simmons',
  'Spider-Man 3\xa0',
  383056,
  46055,
  'Kirsten Dunst',
  0.0,
  'sandman|spider man|symbiote|venom|villain',
  'http://www.imdb.com/title/tt0413300/?ref_=fn_tt_tt_1',
  1902.0,
  'English',
  'USA',
  'PG-13',
  258000000.0,
  2007.0,
  11000.0,
  6.2,
  2.35,
  0),
 (7,
  'Color',
  'Nathan Greno',
  324.0,
  100.0,
  15.0,
  284.0,
  'Donna Murphy',
  799.0,
  200807262.0,
  'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance',
  'Brad Garrett',
  'Tangled\xa0',
  294810,
  2036,
  'M.C. Gainey',
  1.0,
  '17th century|based on fairy tale|disney|flower|tower',
  'http://www.imdb.com/title/tt0398286/?ref_=fn_tt_tt_1',
  387.0,
  'English',
  'USA',
  'PG',
  260000000.0,
  2010.0,
  553.0,
  7.8,
  1.85,
  29000),
 (8,
  'Color',
  'Joss Whedon',
  635.0,
  141.0,
  0.0,
  19000.0,
  'Robert Downey Jr.',
  26000.0,
  458991599.0,
  'Action|Adventure|Sci-Fi',
  'Chris Hemsworth',
  'Avengers: Age of Ultron\xa0',
  462669,
  92000,
  'Scarlett Johansson',
  4.0,
  'artificial intelligence|based on comic book|captain america|marvel cinematic universe|superhero',
  'http://www.imdb.com/title/tt2395427/?ref_=fn_tt_tt_1',
  1117.0,
  'English',
  'USA',
  'PG-13',
  250000000.0,
  2015.0,
  21000.0,
  7.5,
  2.35,
  118000),
 (9,
  'Color',
  'David Yates',
  375.0,
  153.0,
  282.0,
  10000.0,
  'Daniel Radcliffe',
  25000.0,
  301956980.0,
  'Adventure|Family|Fantasy|Mystery',
  'Alan Rickman',
  'Harry Potter and the Half-Blood Prince\xa0',
  321795,
  58753,
  'Rupert Grint',
  3.0,
  'blood|book|love|potion|professor',
  'http://www.imdb.com/title/tt0417741/?ref_=fn_tt_tt_1',
  973.0,
  'English',
  'UK',
  'PG',
  250000000.0,
  2009.0,
  11000.0,
  7.5,
  2.35,
  10000)]

In [27]:
c.execute("""
DELETE FROM movies WHERE director_name == "James Cameron";
""")

In [29]:
pd.read_sql("""
SELECT * FROM movies
LIMIT 10
""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
1,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
2,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
3,4,None,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,None,None,None,NaN,NaN,12.0,7.1,NaN,0
4,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
5,6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
6,7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
7,8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
8,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000
9,10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000

In [30]:
conn.commit()

In [31]:
ls

Lecture 1.ipynb     Lecture 22.ipynb    lecture 12.ipynb    lecture 9.ipynb
Lecture 16.ipynb    Untitled.ipynb      lecture 13.ipynb    math-write.pdf
Lecture 17.ipynb    assignments/        lecture 14.ipynb    my_database.sqlite
Lecture 18.ipynb    chromedriver*       lecture 15.ipynb    my_folder/
Lecture 19-2.ipynb  climate.html        lecture 4.ipynb     new.txt
Lecture 19.ipynb    gapminder.html      lecture 5.ipynb     old@
Lecture 2.ipynb     lecture 03.ipynb    lecture 6.ipynb     ps01-6.ipynb
Lecture 20.ipynb    lecture 10.ipynb    lecture 7.ipynb     test-new.txt
Lecture 21.ipynb    lecture 11.ipynb    lecture 8.ipynb     test.txt

In [36]:
c.execute("""
DELETE FROM movies WHERE [index] = 1
""")

In [37]:
pd.read_sql("""
SELECT * FROM movies
LIMIT 10
""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
1,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
2,4,None,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,None,None,None,NaN,NaN,12.0,7.1,NaN,0
3,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
4,6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
5,7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
6,8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
7,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000
8,10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
9,11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0

In [40]:
c.execute("""
SELECT * FROM movies WHERE color is NULL
""").fetchall()

[(4,
  None,
  'Doug Walker',
  None,
  None,
  131.0,
  None,
  'Rob Walker',
  131.0,
  None,
  'Documentary',
  'Doug Walker',
  'Star Wars: Episode VII - The Force Awakens\xa0            ',
  8,
  143,
  None,
  0.0,
  None,
  'http://www.imdb.com/title/tt5289954/?ref_=fn_tt_tt_1',
  None,
  None,
  None,
  None,
  None,
  None,
  12.0,
  7.1,
  None,
  0),
 (279,
  None,
  'Christopher Barnard',
  None,
  22.0,
  0.0,
  None,
  None,
  5.0,
  None,
  'Comedy',
  'Mathew Buck',
  '10,000 B.C.\xa0            ',
  6,
  5,
  None,
  0.0,
  None,
  'http://www.imdb.com/title/tt1869849/?ref_=fn_tt_tt_1',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  7.2,
  None,
  0),
 (459,
  None,
  None,
  95.0,
  54.0,
  None,
  0.0,
  'Royce Johnson',
  577.0,
  None,
  'Action|Adventure|Crime|Drama|Sci-Fi|Thriller',
  'Elden Henson',
  'Daredevil\xa0            ',
  213483,
  581,
  'Charlie Cox',
  0.0,
  'corruption|lawyer|partnership|superhero|vigilante',
  'http://www.imdb.com/title/tt3322312/?ref_=fn_tt_tt_1',
  394.0,
  'English',
  'USA',
  'TV-MA',
  None,
  None,
  4.0,
  8.8,
  16.0,
  55000),
 (1948,
  None,
  'Lasse Hallström',
  162.0,
  108.0,
  529.0,
  690.0,
  'Henry Thomas',
  17000.0,
  80014842.0,
  'Drama|Romance|War',
  'Channing Tatum',
  'Dear John\xa0',
  104356,
  19945,
  'Scott Porter',
  None,
  'army|coin collector|love|surfboard|u.s. army',
  'http://www.imdb.com/title/tt0989757/?ref_=fn_tt_tt_1',
  186.0,
  'English',
  'USA',
  'PG-13',
  25000000.0,
  2010.0,
  861.0,
  6.3,
  2.35,
  14000),
 (2015,
  None,
  'Mario Van Peebles',
  7.0,
  100.0,
  535.0,
  399.0,
  'Mario Van Peebles',
  668.0,
  None,
  'Action|Thriller',
  'Martin Kove',
  'Red Sky\xa0',
  1084,
  2204,
  'Jacob Vargas',
  0.0,
  'exploding airplane|fighter pilot|hands tied|held at gunpoint|military',
  'http://www.imdb.com/title/tt1946381/?ref_=fn_tt_tt_1',
  11.0,
  'English',
  'USA',
  'PG-13',
  25000000.0,
  2014.0,
  535.0,
  4.1,
  None,
  437),
 (2459,
  None,
  None,
  14.0,
  60.0,
  None,
  405.0,
  'Dylan Walsh',
  654.0,
  None,
  'Drama|Mystery',
  'Poppy Montgomery',
  'Unforgettable\xa0            ',
  12854,
  1906,
  'Dallas Roberts',
  1.0,
  'hyperthymesia|new york city|police',
  'http://www.imdb.com/title/tt1842530/?ref_=fn_tt_tt_1',
  44.0,
  None,
  'USA',
  None,
  None,
  None,
  426.0,
  6.7,
  None,
  0),
 (2753,
  None,
  'Tung-Shing Yee',
  53.0,
  119.0,
  3.0,
  19.0,
  'Daniel Wu',
  556.0,
  None,
  'Action|Crime|Drama|Thriller',
  'Bingbing Fan',
  'Shinjuku Incident\xa0',
  9177,
  996,
  'Yasuaki Kurata',
  4.0,
  'chinese|gang|gratitude|immigrant|japan',
  'http://www.imdb.com/title/tt1075419/?ref_=fn_tt_tt_1',
  53.0,
  'Mandarin',
  'Hong Kong',
  'R',
  15000000.0,
  2009.0,
  353.0,
  7.1,
  2.35,
  821),
 (3272,
  None,
  'David Hackl',
  48.0,
  94.0,
  43.0,
  129.0,
  'Michaela McManus',
  826.0,
  None,
  'Action|Horror|Thriller',
  'Scott Glenn',
  'Into the Grizzly Maze\xa0',
  4486,
  1586,
  "Luisa D'Oliveira",
  4.0,
  'bear|breasts|female nudity|grizzly|wilderness',
  'http://www.imdb.com/title/tt1694021/?ref_=fn_tt_tt_1',
  38.0,
  'English',
  'USA',
  'R',
  10000000.0,
  2015.0,
  476.0,
  5.3,
  1.85,
  0),
 (3539,
  None,
  'Richard Rich',
  2.0,
  45.0,
  24.0,
  29.0,
  'Kate Higgins',
  122.0,
  None,
  'Action|Adventure|Animation|Comedy|Drama|Family|Fantasy|Thriller',
  'Debi Derryberry',
  'Alpha and Omega 4: The Legend of the Saw Toothed Cave\xa0',
  192,
  236,
  'Cindy Robinson',
  0.0,
  'blindness|cave|spirit|wolf|wolf cub',
  'http://www.imdb.com/title/tt4061848/?ref_=fn_tt_tt_1',
  6.0,
  None,
  'USA',
  None,
  7000000.0,
  2014.0,
  35.0,
  6.0,
  None,
  41),
 (3638,
  None,
  'Wayne Wang',
  56.0,
  104.0,
  61.0,
  451.0,
  'Russell Wong',
  974.0,
  1346503.0,
  'Drama|History',
  'Bingbing Li',
  'Snow Flower and the Secret Fan\xa0',
  3024,
  2430,
  'Ji-hyun Jun',
  0.0,
  'car hitting pedestrian|china|fan|nineteenth century|reversal of fortune',
  'http://www.imdb.com/title/tt1541995/?ref_=fn_tt_tt_1',
  22.0,
  'English',
  'China',
  'PG-13',
  6000000.0,
  2011.0,
  595.0,
  6.1,
  2.35,
  0),
 (3656,
  None,
  'Charles Matthau',
  13.0,
  90.0,
  139.0,
  1000.0,
  'Michael Jai White',
  2000.0,
  None,
  'Comedy|Crime|Thriller',
  'Billy Burke',
  'Freaky Deaky\xa0',
  6741,
  6569,
  'Bill Duke',
  0.0,
  'black panties|bomb squad|car bomb|dynamite|girl in panties',
  'http://www.imdb.com/title/tt0938305/?ref_=fn_tt_tt_1',
  11.0,
  'English',
  'USA',
  'R',
  6000000.0,
  2012.0,
  2000.0,
  6.5,
  None,
  0),
 (4138,
  None,
  'Darin Scott',
  7.0,
  95.0,
  39.0,
  375.0,
  'Shantel VanSanten',
  1000.0,
  None,
  'Drama|Horror|Mystery|Thriller',
  'Julian Morris',
  'Something Wicked\xa0',
  976,
  3024,
  'John Robinson',
  2.0,
  'eugene oregon|independent film|obsession',
  'http://www.imdb.com/title/tt1327601/?ref_=fn_tt_tt_1',
  15.0,
  'English',
  'USA',
  'R',
  3000000.0,
  2014.0,
  747.0,
  4.8,
  None,
  395),
 (4215,
  None,
  'Zackary Adler',
  10.0,
  110.0,
  0.0,
  109.0,
  'Kevin Leslie',
  490.0,
  None,
  'Crime|Drama',
  'Simon Merrells',
  'The Rise of the Krays\xa0',
  1510,
  881,
  'Kris Sommerville',
  0.0,
  None,
  'http://www.imdb.com/title/tt2945796/?ref_=fn_tt_tt_1',
  26.0,
  'English',
  'UK',
  'R',
  2500000.0,
  2015.0,
  159.0,
  5.0,
  None,
  0),
 (4331,
  None,
  'Jonas Åkerlund',
  33.0,
  96.0,
  68.0,
  722.0,
  'Saffron Burrows',
  2000.0,
  None,
  'Comedy|Crime|Drama',
  'Noel Gugliemi',
  'Small Apartments\xa0',
  5732,
  3683,
  'Matt Lucas',
  6.0,
  "fire investigator|landlord|suicide|talking to one's self in a mirror|turpentine",
  'http://www.imdb.com/title/tt1272886/?ref_=fn_tt_tt_1',
  26.0,
  'English',
  'USA',
  'R',
  2000000.0,
  2012.0,
  811.0,
  6.1,
  1.85,
  0),
 (4409,
  None,
  'John Stockwell',
  2.0,
  90.0,
  134.0,
  354.0,
  'T.J. Storm',
  260000.0,
  None,
  'Action',
  'Matthew Ziff',
  'Kickboxer: Vengeance\xa0',
  246,
  261818,
  'Sam Medina',
  5.0,
  None,
  'http://www.imdb.com/title/tt3082898/?ref_=fn_tt_tt_1',
  1.0,
  None,
  'USA',
  None,
  17000000.0,
  2016.0,
  454.0,
  9.1,
  None,
  0),
 (4441,
  None,
  'Dave Rodriguez',
  9.0,
  98.0,
  11.0,
  636.0,
  'Michael Rapaport',
  979.0,
  None,
  'Comedy|Drama',
  'Chazz Palminteri',
  'Once Upon a Time in Queens\xa0',
  291,
  4036,
  'Paul Sorvino',
  2.0,
  None,
  'http://www.imdb.com/title/tt1639397/?ref_=fn_tt_tt_1',
  7.0,
  'English',
  'USA',
  'R',
  1500000.0,
  2013.0,
  975.0,
  6.3,
  1.89,
  283),
 (4630,
  None,
  'Jonathan Meyers',
  1.0,
  111.0,
  0.0,
  426.0,
  'Luke Perry',
  657.0,
  None,
  'Drama',
  'Justin Baldoni',
  'A Fine Step\xa0',
  207,
  2677,
  'Leonor Varela',
  0.0,
  None,
  'http://www.imdb.com/title/tt1604100/?ref_=fn_tt_tt_1',
  1.0,
  None,
  'USA',
  'PG',
  1000000.0,
  2014.0,
  608.0,
  5.3,
  None,
  212),
 (4846,
  None,
  'Pece Dingo',
  1.0,
  94.0,
  0.0,
  87.0,
  'Wilhelm von Homburg',
  156.0,
  None,
  'Horror',
  'Michael Des Barres',
  'Midnight Cabaret\xa0',
  47,
  544,
  'Thom Mathews',
  0.0,
  'cigarette smoking|death|devil|nightmare|satanic cult',
  'http://www.imdb.com/title/tt0100146/?ref_=fn_tt_tt_1',
  4.0,
  'English',
  'USA',
  'R',
  None,
  1990.0,
  102.0,
  4.5,
  None,
  4),
 (5020,
  None,
  'Brandon Landers',
  None,
  143.0,
  8.0,
  8.0,
  'Alana Kaniewski',
  720.0,
  None,
  'Drama|Horror|Thriller',
  'Robbie Barnes',
  'The Ridges\xa0',
  125,
  770,
  'Brandon Landers',
  0.0,
  'avatar|college|death|tron|university',
  'http://www.imdb.com/title/tt1781935/?ref_=fn_tt_tt_1',
  8.0,
  'English',
  'USA',
  None,
  17350.0,
  2011.0,
  19.0,
  3.0,
  None,
  33)]

In [41]:
c.execute("""
UPDATE movies SET color = "Unknown"
WHERE color is NULL
""")

In [42]:
pd.read_sql("""
SELECT * FROM movies
LIMIT 10
""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
1,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
2,4,Unknown,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,None,None,None,NaN,NaN,12.0,7.1,NaN,0
3,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
4,6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
5,7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
6,8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
7,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000
8,10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
9,11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0

In [43]:
pd.read_sql("""
SELECT color, avg(duration) FROM movies
GROUP BY color
""", conn)

              color  avg(duration)
0   Black and White     112.253589
1             Color     106.957229
2           Unknown      90.722222

In [44]:
conn.execute("""
UPDATE movies SET duration = duration * 2 WHERE color == "Unknown"
""")

In [45]:
pd.read_sql("""
SELECT color, avg(duration) FROM movies
GROUP BY color
""", conn)

              color  avg(duration)
0   Black and White     112.253589
1             Color     106.957229
2           Unknown     181.444444

In [52]:
conn.execute("""
SELECT POWER(2, duration) FROM movies LIMIT 10;
""").fetchall()

OperationalError: no such function: POWER

In [57]:
pd.read_sql("""
SELECT * FROM movies ORDER BY duration DESC LIMIT 10;
""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,1710,Color,None,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,...,19.0,Icelandic,Iceland,None,NaN,NaN,63.0,8.2,16.00,0
1,2466,Color,None,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
2,1501,Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
3,1144,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
4,3311,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
5,2970,Color,Wolfgang Petersen,96.0,293.0,249.0,18.0,Martin Semmelrogge,362.0,11433134.0,...,426.0,German,West Germany,R,14000000.0,1981.0,21.0,8.4,1.85,11000
6,1571,Color,Francis Ford Coppola,261.0,289.0,0.0,3000.0,Marlon Brando,11000.0,78800000.0,...,983.0,English,USA,R,31500000.0,1979.0,10000.0,8.5,2.35,19000
7,2727,Color,None,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,...,39.0,English,USA,None,NaN,NaN,555.0,7.9,1.78,733
8,5020,Unknown,Brandon Landers,NaN,286.0,8.0,8.0,Alana Kaniewski,720.0,NaN,...,8.0,English,USA,None,17350.0,2011.0,19.0,3.0,NaN,33
9,883,Color,Ron Maxwell,84.0,280.0,33.0,67.0,Bruce Boxleitner,789.0,12870569.0,...,497.0,English,USA,PG-13,56000000.0,2003.0,640.0,6.3,2.35,953

In [59]:
pd.read_sql("""
SELECT DISTINCT color, director_name FROM movies
""", conn)

        color      director_name
0       Color         Sam Mendes
1       Color  Christopher Nolan
2     Unknown        Doug Walker
3       Color     Andrew Stanton
4       Color          Sam Raimi
...       ...                ...
2505    Color   Neill Dela Llana
2506    Color    Anthony Vallone
2507    Color        Scott Smith
2508    Color   Benjamin Roberds
2509    Color        Daniel Hsia

[2510 rows x 2 columns]

In [62]:
pd.read_sql("""
SELECT director_name, avg(duration) FROM movies
GROUP BY director_name
WHERE avg(duration) < 70
""", conn)

DatabaseError: Execution failed on sql '
SELECT director_name, avg(duration) FROM movies
GROUP BY director_name
WHERE avg(duration) < 70
': near "WHERE": syntax error

In [64]:
pd.read_sql("""
SELECT director_name, avg(duration) as avgdur FROM movies
GROUP BY director_name
HAVING avgdur < 70
""", conn)

            director_name  avgdur
0                    None    62.0
1             Alex Gibney    53.0
2         Amal Al-Agroobi    62.0
3            Andrew Leman    47.0
4        Barrett Esposito    67.0
5           Bill Melendez    25.0
6            Chris Marker    59.0
7     Christopher Barnard    22.0
8             Clark Baker    14.0
9        Deborah Anderson    66.0
10              Don Kempf    46.0
11           Frank Nissen    68.0
12          James Bidgood    65.0
13             Jane Clark     7.0
14          Jason Naumann    35.0
15  Jean-Jacques Mantello    42.0
16             Jim Chuchu    60.0
17           Joe Kenemore    52.0
18         John Blanchard    65.0
19         John Reinhardt    68.0
20         Lowell Sherman    66.0
21        Nacho Vigalondo    66.0
22   Ole Christian Madsen    45.0
23           Richard Rich    45.0
24       Robert Greenwald    47.5
25        Ronan Chapalain    41.0
26             Sam Martin    66.0
27    Stephen J. Anderson    63.0
28          Travis Romero    67.0

In [65]:
pd.read_sql("""
SELECT director_name, duration as dur FROM movies
WHERE dur < 100
""", conn)

         director_name   dur
0           Peter Sohn  93.0
1         Mark Andrews  93.0
2       Andrew Stanton  98.0
3         Brett Ratner  91.0
4      Robert Zemeckis  96.0
...                ...   ...
2033      Edward Burns  95.0
2034       Scott Smith  87.0
2035              None  43.0
2036  Benjamin Roberds  76.0
2037          Jon Gunn  90.0

[2038 rows x 2 columns]

In [75]:
pd.read_sql("""
SELECT count(*) - count(color) FROM movies
""", conn)

   count(*) - count(color)
0                       19

In [74]:
pd.read_sql("""
SELECT count(color) FROM movies
""", conn)

   count(color)
0          5017

In [79]:
pd.read_sql("""
SELECT count(*) FROM movies WHERE color is NULL
""", conn)

   count(*)
0        19

In [80]:
c.execute("""
ALTER TABLE movies ADD my_rating INTEGER;
""")

In [81]:
pd.read_sql("""
SELECT * FROM movies LIMIT 10
""", conn)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,my_rating
0,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,None
1,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,None
2,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,None
3,4,None,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,None,None,None,NaN,NaN,12.0,7.1,NaN,0,None
4,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,None
5,6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,...,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0,None
6,7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000,None
7,8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,...,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000,None
8,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,...,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000,None
9,10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,...,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000,None