<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/кейсы%20по%20анализу%20данных/sql_01.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [ ]:
#https://habr.com/ru/post/149356/

In [5]:
from sqlite3 import connect

In [6]:
conn = connect("my_database.sqlite")
c = conn.cursor()

In [7]:
c

In [8]:
c.execute("""
CREATE TABLE students (id, first_name, last_name)
""")

In [9]:
c.execute("""
PRAGMA table_info(students)
""").fetchall()

[(0, 'id', '', 0, None, 0),
 (1, 'first_name', '', 0, None, 0),
 (2, 'last_name', '', 0, None, 0)]

In [10]:
c.execute("""
INSERT INTO students (id, first_name, last_name) VALUES (1, "Alice", "Smith");
""")

In [11]:
c.execute("""
INSERT INTO students (id, first_name, last_name) VALUES (2, "Bob", "Smith");
""")

In [12]:
c.execute("""
SELECT * FROM students;
""").fetchall()

[(1, 'Alice', 'Smith'), (2, 'Bob', 'Smith')]

In [13]:
c.execute("""
SELECT last_name, first_name FROM students;
""").fetchall()

[('Smith', 'Alice'), ('Smith', 'Bob')]

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(
  "https://github.com/Godoy/imdb-5000-movie-dataset/raw/master/data/movie_metadata.csv")

In [ ]:
df.to_sql("movies", conn)

In [ ]:
c.execute("""
PRAGMA table_info(movies)
""").fetchall()

In [ ]:
pd.read_sql("""
SELECT * FROM movies
""", conn)

In [ ]:
pd.read_sql("""
SELECT * FROM movies
LIMIT 10
""", conn)

In [ ]:
pd.read_sql("""
SELECT * FROM movies
WHERE director_name == "James Cameron"
""", conn)

In [ ]:
pd.read_sql("""
SELECT avg(duration) FROM movies
""", conn)

In [ ]:
c.execute("""
SELECT * FROM movies LIMIT 10
""").fetchall()

In [ ]:
c.execute("""
DELETE FROM movies WHERE director_name == "James Cameron";
""")

In [ ]:
conn.commit()

In [ ]:
ls

In [ ]:
pd.read_sql("""
SELECT * FROM movies
LIMIT 10
""", conn)

In [ ]:
c.execute("""
SELECT * FROM movies WHERE color is NULL
""").fetchall()

In [ ]:
c.execute("""
UPDATE movies SET color = "Unknown"
WHERE color is NULL
""")

In [ ]:
pd.read_sql("""
SELECT * FROM movies
LIMIT 10
""", conn)

In [ ]:
pd.read_sql("""
SELECT color, avg(duration) FROM movies
GROUP BY color
""", conn)

In [ ]:
conn.execute("""
UPDATE movies SET duration = duration * 2 WHERE color == "Unknown"
""")

In [ ]:
pd.read_sql("""
SELECT color, avg(duration) FROM movies
GROUP BY color
""", conn)

In [ ]:
pd.read_sql("""
SELECT * FROM movies ORDER BY duration DESC LIMIT 10;
""", conn)

In [ ]:
pd.read_sql("""
SELECT DISTINCT color, director_name FROM movies
""", conn) # уникальные пары по двум столбцам

In [ ]:
pd.read_sql("""
SELECT director_name, avg(duration) as avgdur FROM movies
GROUP BY director_name
HAVING avgdur < 70
""", conn)

In [ ]:
pd.read_sql("""
SELECT director_name, duration as dur FROM movies
WHERE dur < 100
""", conn)

In [ ]:
pd.read_sql("""
SELECT count(*) - count(color) FROM movies
""", conn)

In [ ]:
pd.read_sql("""
SELECT count(color) FROM movies
""", conn)

In [ ]:
pd.read_sql("""
SELECT count(*) FROM movies WHERE color is NULL
""", conn)

In [ ]:
c.execute("""
ALTER TABLE movies ADD my_rating INTEGER;
""")

In [ ]:
pd.read_sql("""
SELECT * FROM movies LIMIT 10
""", conn)