<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/кейсы%20по%20анализу%20данных/Кино_про_НГ.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/new_year_film.csv"

In [3]:
df_kino = pd.read_csv(url, usecols=["name", "country", "time", "ranking", "type", "year"])
df_kino.head()

                          name  country  time ranking   type  year
0                      Невеста   Россия    74    7,66  фильм  2006
1  Кто приходит в зимний вечер   Россия    90   6,038  фильм  2006
2          Моя мама Снегурочка   Россия    90   6,828  фильм  2007
3            Набережная Орфевр  Франция   106   7,597  фильм  1947
4                       Лузер    Россия   104   6,065  фильм  2007

In [4]:
df_kino.tail()

,name,country,time,ranking,type,year
145,Карнавальная ночь,СССР,78,"7,929",фильм,1956
146,Квартира,США,125,"8,021",фильм,1960
147,Когда зажигаются елки,СССР,20,"7,94",мультфильм,1950
148,Кошмар перед Рождеством,США,76,"8,049",мультфильм,1993
149,Красавица и чудовище: Чудесное Рождество (видео),США,72,"6,814",мультфильм,1997

In [5]:
df_kino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     150 non-null    object
 1   country  150 non-null    object
 2   time     150 non-null    int64
 3   ranking  150 non-null    object
 4   type     150 non-null    object
 5   year     150 non-null    int64
dtypes: int64(2), object(4)
memory usage: 7.2+ KB

In [6]:
df_kino.describe()

             time         year
count  150.000000   150.000000
mean    84.366667  1988.986667
std     45.719809    20.198341
min      5.000000  1932.000000
25%     61.500000  1975.000000
50%     91.000000  1995.500000
75%    105.000000  2005.000000
max    322.000000  2012.000000

In [7]:
df_kino.shape

(150, 6)

In [8]:
df_kino.index # исследуем индекс

RangeIndex(start=0, stop=150, step=1)

In [9]:
df_kino.columns # получаем столбцы

Index(['name', 'country', 'time', 'ranking', 'type', 'year'], dtype='object')

In [10]:
df_kino['ranking'].head() # извлекаем столбец ranking

0     7,66
1    6,038
2    6,828
3    7,597
4    6,065
Name: ranking, dtype: object

In [11]:
df_kino.ranking

0       7,66
1      6,038
2      6,828
3      7,597
4      6,065
       ...
145    7,929
146    8,021
147     7,94
148    8,049
149    6,814
Name: ranking, Length: 150, dtype: object

In [12]:
df_kino[['ranking', 'country']].head() # извлекаем столбцы

  ranking  country
0    7,66   Россия
1   6,038   Россия
2   6,828   Россия
3   7,597  Франция
4   6,065   Россия

In [13]:
df_kino.loc[145]

name       Карнавальная ночь
country                 СССР
time                      78
ranking                7,929
type                   фильм
year                    1956
Name: 145, dtype: object

In [14]:
df_kino.iloc[145]

name       Карнавальная ночь
country                 СССР
time                      78
ranking                7,929
type                   фильм
year                    1956
Name: 145, dtype: object

In [15]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html
df_kino = df_kino.set_index("name")
df_kino

,country,time,ranking,type,year
name,,,,,
Невеста,Россия,74,"7,66",фильм,2006
Кто приходит в зимний вечер,Россия,90,"6,038",фильм,2006
Моя мама Снегурочка,Россия,90,"6,828",фильм,2007
Набережная Орфевр,Франция,106,"7,597",фильм,1947
Лузер,Россия,104,"6,065",фильм,2007
...,...,...,...,...,...
Карнавальная ночь,СССР,78,"7,929",фильм,1956
Квартира,США,125,"8,021",фильм,1960
Когда зажигаются елки,СССР,20,"7,94",мультфильм,1950
Кошмар перед Рождеством,США,76,"8,049",мультфильм,1993
Красавица и чудовище: Чудесное Рождество (видео),США,72,"6,814",мультфильм,1997

In [16]:
df_kino.iloc[145]

country     СССР
time          78
ranking    7,929
type       фильм
year        1956
Name: Карнавальная ночь, dtype: object

In [17]:
df_kino.loc["Карнавальная ночь"]

country     СССР
time          78
ranking    7,929
type       фильм
year        1956
Name: Карнавальная ночь, dtype: object

In [18]:
df_kino.loc[['Карнавальная ночь', 'Невеста']]

                  country  time ranking   type  year
name
Карнавальная ночь    СССР    78   7,929  фильм  1956
Невеста            Россия    74    7,66  фильм  2006

In [19]:
df_kino.iloc[[0, 2]] # получаем строки, имеющие позиции 0 и 2

                    country  time ranking   type  year
name
Невеста              Россия    74    7,66  фильм  2006
Моя мама Снегурочка  Россия    90   6,828  фильм  2007

In [20]:
i1 = df_kino.index.get_loc('Невеста') # получаем позиции меток в индексе
i2 = df_kino.index.get_loc('Моя мама Снегурочка')
(i1, i2)

(0, 2)

In [21]:
df_kino.iloc[[i1, i2]] # и извлекаем строки

                    country  time ranking   type  year
name
Невеста              Россия    74    7,66  фильм  2006
Моя мама Снегурочка  Россия    90   6,828  фильм  2007

Ищем скалярное значение по метке строки и метке (имени) столбца:

In [22]:
df_kino.at['Невеста', 'type']

'фильм'

In [23]:
df_kino.at['Невеста', 'year']

2006

Ищем скалярное значение по позиции строки и позиции столбца извлекаем значение в строке 4, столбце 1:

In [24]:
df_kino.iat[4, 1]

104

In [25]:
df_kino[:15] # первые 15 строк аналог head(15)

                                      country  time ranking        type  year
name
Невеста                                Россия    74    7,66       фильм  2006
Кто приходит в зимний вечер            Россия    90   6,038       фильм  2006
Моя мама Снегурочка                    Россия    90   6,828       фильм  2007
Набережная Орфевр                     Франция   106   7,597       фильм  1947
Лузер                                  Россия   104   6,065       фильм  2007
Крепкий орешек                            США   133   8,024       фильм  1988
Морозко                                  СССР    84   8,011       фильм  1964
Крепкий орешек 2                          США   124   7,759       фильм  1990
Кунг-фу Панда: Праздничный выпуск         США    21    7,07  мультфильм  2010
Любители игрушек                          США     7   6,861  мультфильм  1949
Магазинчик за углом                       США    99   7,921       фильм  1940
Мужчина в моей голове                  Россия   113   7,143       фильм  2009
Микки: Однажды под Рождество (видео)      США    66   7,189  мультфильм  1999
Кушать подано!                        Украина    85   7,348       фильм  2005
Мастерская Санта Клауса                   США     7   6,706  мультфильм  1932

Добавим столбец:

In [26]:
df_kino["budget"] = np.random.randint(50_000, 100_000, size=len(df_kino))
df_kino

,country,time,ranking,type,year,budget
name,,,,,,
Невеста,Россия,74,"7,66",фильм,2006,87715
Кто приходит в зимний вечер,Россия,90,"6,038",фильм,2006,76690
Моя мама Снегурочка,Россия,90,"6,828",фильм,2007,51615
Набережная Орфевр,Франция,106,"7,597",фильм,1947,83338
Лузер,Россия,104,"6,065",фильм,2007,63846
...,...,...,...,...,...,...
Карнавальная ночь,СССР,78,"7,929",фильм,1956,71948
Квартира,США,125,"8,021",фильм,1960,71104
Когда зажигаются елки,СССР,20,"7,94",мультфильм,1950,86278
Кошмар перед Рождеством,США,76,"8,049",мультфильм,1993,74343
Красавица и чудовище: Чудесное Рождество (видео),США,72,"6,814",мультфильм,1997,72427

In [27]:
df_kino.time

name
Невеста                                              74
Кто приходит в зимний вечер                          90
Моя мама Снегурочка                                  90
Набережная Орфевр                                   106
Лузер                                               104
                                                   ...
Карнавальная ночь                                    78
Квартира                                            125
Когда зажигаются елки                                20
Кошмар перед Рождеством                              76
Красавица и чудовище: Чудесное Рождество (видео)     72
Name: time, Length: 150, dtype: int64

In [28]:
df_kino.time < 90

name
Невеста                                              True
Кто приходит в зимний вечер                         False
Моя мама Снегурочка                                 False
Набережная Орфевр                                   False
Лузер                                               False
                                                    ...
Карнавальная ночь                                    True
Квартира                                            False
Когда зажигаются елки                                True
Кошмар перед Рождеством                              True
Красавица и чудовище: Чудесное Рождество (видео)     True
Name: time, Length: 150, dtype: bool

In [29]:
df_kino.time[df_kino.time < 90]

name
Невеста                                             74
Морозко                                             84
Кунг-фу Панда: Праздничный выпуск                   21
Любители игрушек                                     7
Микки: Однажды под Рождество (видео)                66
                                                    ..
Как ежик и медвежонок встречали Новый год            8
Карнавальная ночь                                   78
Когда зажигаются елки                               20
Кошмар перед Рождеством                             76
Красавица и чудовище: Чудесное Рождество (видео)    72
Name: time, Length: 65, dtype: int64

In [30]:
df_kino[(df_kino.time < 90) & (df_kino.year > 2002)]

,country,time,ranking,type,year,budget
name,,,,,,
Невеста,Россия,74,"7,66",фильм,2006,87715
Кунг-фу Панда: Праздничный выпуск,США,21,"7,07",мультфильм,2010,71177
Кушать подано!,Украина,85,"7,348",фильм,2005,73002
Однажды в Токио,Япония,88,"7,702",мультфильм,2003,71751
Нико: Путь к звездам,Финляндия,81,"6,739",мультфильм,2008,85141
Пингвины из Мадагаскара в рождественских приключениях,США,10,"7,53",мультфильм,2005,71719
Рождественская история (Фин.),Финляндия,83,"7,44",фильм,2007,62805
Рождественский Мадагаскар,США,21,"7,106",мультфильм,2009,59159
Приготовление и начало,США,22,"7,127",мультфильм,2009,65891
Тушите свет,Россия,75,"5,856",фильм,2008,82143
Саманта: Каникулы американской девочки,США,86,"7,564",фильм,2004,63262
Со мною вот что происходит,Россия,72,"7,124",фильм,2012,98066
Тариф Новогодний,Россия,83,"7,096",фильм,2008,66575
Потерянное Рождество,Великобритания,88,"7,372",фильм,2011,61900
"Шрек мороз, зеленый нос",США,21,"6,733",мультфильм,2007,65955
Девочка со спичками,США,7,"7,981",мультфильм,2006,60048
Дед Мороз поневоле,Россия,77,"5,99",фильм,2007,65609
Драконы: Подарок ночной фурии (видео),США,22,"7,897",мультфильм,2011,91343

In [31]:
df_kino[(df_kino.time < 90) & (df_kino.year > 2002)]['country']

name
Невеста                                                          Россия
Кунг-фу Панда: Праздничный выпуск                                   США
Кушать подано!                                                  Украина
Однажды в Токио                                                  Япония
Нико: Путь к звездам                                          Финляндия
Пингвины из Мадагаскара в рождественских приключениях               США
Рождественская история (Фин.)                                 Финляндия
Рождественский Мадагаскар                                           США
Приготовление и начало                                              США
Тушите свет                                                      Россия
Саманта: Каникулы американской девочки                              США
Со мною вот что происходит                                       Россия
Тариф Новогодний                                                 Россия
Потерянное Рождество                                     Великобритания
Шрек мороз, зеленый нос                                             США
Девочка со спичками                                                 США
Дед Мороз поневоле                                               Россия
Драконы: Подарок ночной фурии (видео)                               США
Name: country, dtype: object

In [32]:
df_kino.loc[['Моя мама Снегурочка', 'Набережная Орфевр']][['country', 'type']]

                     country   type
name
Моя мама Снегурочка   Россия  фильм
Набережная Орфевр    Франция  фильм

In [33]:
df_kino.ranking

name
Невеста                                              7,66
Кто приходит в зимний вечер                         6,038
Моя мама Снегурочка                                 6,828
Набережная Орфевр                                   7,597
Лузер                                               6,065
                                                    ...
Карнавальная ночь                                   7,929
Квартира                                            8,021
Когда зажигаются елки                                7,94
Кошмар перед Рождеством                             8,049
Красавица и чудовище: Чудесное Рождество (видео)    6,814
Name: ranking, Length: 150, dtype: object

In [34]:
df_kino.ranking > 7

TypeError: '>' not supported between instances of 'str' and 'int'

Кто виноват и что делать???