<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/кейсы%20по%20анализу%20данных/Кино_про_НГ_статистики.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/new_year_film.csv"

In [3]:
df_kino = pd.read_csv(url, usecols=["name", "country", "time", "ranking", "type", "year"])
df_kino.head()

                          name  country  time ranking   type  year
0                      Невеста   Россия    74    7,66  фильм  2006
1  Кто приходит в зимний вечер   Россия    90   6,038  фильм  2006
2          Моя мама Снегурочка   Россия    90   6,828  фильм  2007
3            Набережная Орфевр  Франция   106   7,597  фильм  1947
4                       Лузер    Россия   104   6,065  фильм  2007

In [4]:
df_kino.tail()

,name,country,time,ranking,type,year
145,Карнавальная ночь,СССР,78,"7,929",фильм,1956
146,Квартира,США,125,"8,021",фильм,1960
147,Когда зажигаются елки,СССР,20,"7,94",мультфильм,1950
148,Кошмар перед Рождеством,США,76,"8,049",мультфильм,1993
149,Красавица и чудовище: Чудесное Рождество (видео),США,72,"6,814",мультфильм,1997

In [5]:
df_kino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     150 non-null    object
 1   country  150 non-null    object
 2   time     150 non-null    int64
 3   ranking  150 non-null    object
 4   type     150 non-null    object
 5   year     150 non-null    int64
dtypes: int64(2), object(4)
memory usage: 7.2+ KB

In [6]:
df_kino.describe()

             time         year
count  150.000000   150.000000
mean    84.366667  1988.986667
std     45.719809    20.198341
min      5.000000  1932.000000
25%     61.500000  1975.000000
50%     91.000000  1995.500000
75%    105.000000  2005.000000
max    322.000000  2012.000000

In [7]:
df_kino.time.mean()

84.36666666666666

In [8]:
df_kino["sub_mean"] = np.abs(df_kino.time - df_kino.time.mean())
df_kino

,name,country,time,ranking,type,year,sub_mean
0,Невеста,Россия,74,"7,66",фильм,2006,10.366667
1,Кто приходит в зимний вечер,Россия,90,"6,038",фильм,2006,5.633333
2,Моя мама Снегурочка,Россия,90,"6,828",фильм,2007,5.633333
3,Набережная Орфевр,Франция,106,"7,597",фильм,1947,21.633333
4,Лузер,Россия,104,"6,065",фильм,2007,19.633333
...,...,...,...,...,...,...,...
145,Карнавальная ночь,СССР,78,"7,929",фильм,1956,6.366667
146,Квартира,США,125,"8,021",фильм,1960,40.633333
147,Когда зажигаются елки,СССР,20,"7,94",мультфильм,1950,64.366667
148,Кошмар перед Рождеством,США,76,"8,049",мультфильм,1993,8.366667
149,Красавица и чудовище: Чудесное Рождество (видео),США,72,"6,814",мультфильм,1997,12.366667

In [9]:
df_kino.time.idxmax()

96

In [10]:
df_kino.iloc[96]

name        Фанни и Александр
country                Швеция
time                      322
ranking                 7,923
type                    фильм
year                     1982
sub_mean              237.633
Name: 96, dtype: object

Уникальные страны, представленные в рейтинге:

In [11]:
df_kino.country.unique()

array(['Россия', 'Франция', 'США', 'СССР', 'Украина', 'Япония',
       'Германия', 'РСФСР', 'Финляндия', 'Великобритания', 'Канада',
       'Италия', 'Швеция', 'Корея Южная'], dtype=object)

Сколько раз встрчается страна:

In [12]:
df_kino.country.value_counts()

США               64
Россия            32
СССР              25
Великобритания    11
Франция            4
Украина            3
Финляндия          2
Япония             2
РСФСР              2
Италия             1
Германия           1
Швеция             1
Канада             1
Корея Южная        1
Name: country, dtype: int64

In [13]:
df_kino[df_kino.name.isin(['Когда зажигаются елки', 'Карнавальная ночь'])]

                      name country  time ranking        type  year   sub_mean
145      Карнавальная ночь    СССР    78   7,929       фильм  1956   6.366667
147  Когда зажигаются елки    СССР    20    7,94  мультфильм  1950  64.366667