<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%B5%D0%B5%20%D0%B8%D0%B7%D1%83%D1%87%D0%B0%D0%B5%D0%BC%20pandas/04_%D0%9F%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D1%85%20%D0%B8%20%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE%D0%BC%D0%B5%D1%80%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85%20%D1%81%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%D1%8E%20%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%B0%20DataFrame.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [ ]:
# импортируем numpy и pandas
import numpy as np
import pandas as pd

# импортируем datetime
import datetime
from datetime import datetime, date

# импортируем matplotlib для построения графиков
import matplotlib.pyplot as plt
%matplotlib inline

###  Создание объекта DataFrame на основе результатов функций NumPy

Создаем датафрейм из одномерного массива NumPy:

In [ ]:
pd.DataFrame(np.arange(1, 6))

Создаем датафрейм из двумерного массива NumPy:

In [ ]:
df = pd.DataFrame(np.array([[10, 11], [20, 21]]))
df

In [ ]:
df.columns # получаем индекс столбцов

In [ ]:
df = pd.DataFrame(np.array([[70, 71], [90, 91]]),
                  columns=['Russia', 'USA']) # задаем имена столбцов
df

In [ ]:
len(df) # сколько строк?

In [ ]:
df.shape # какова размерность датафрейма?

### Создание объекта DataFrame с помощью питоновского словаря и объектов Series

In [ ]:
temperatures = {'Moscow': [3, 1],
                'SPb': [2, -1]}
pd.DataFrame(temperatures)

Создаем датафрейм для списка объектов Series:

In [ ]:
temps_at_time0 = pd.Series([0, 2])
temps_at_time1 = pd.Series([1, 3])
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df

In [ ]:
df = pd.DataFrame([temps_at_time0, temps_at_time1],
                  columns=['Moscow', 'SPb'])  # попытаемся задать имена столбцов
df

In [ ]:
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df.columns = ['Moscow', 'SPb'] # задаем имена столбцов после создания датафрейма
df

### Создание объекта DataFrame на основе CSV-файла

Считываем данные и выводим первые пять строк. 

Используем столбец Symbol в качестве индекса и считываем только те столбцы, у которых позиции 0, 2, 3, 7.

In [ ]:
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%B5%D0%B5%20%D0%B8%D0%B7%D1%83%D1%87%D0%B0%D0%B5%D0%BC%20pandas/Data/new_year_film.csv"

In [ ]:
kino = pd.read_csv(url, 
                   index_col='name')

In [ ]:
kino.head() # взглянем на первые 5 строк данных

In [ ]:
len(kino) # сколько строк данных?

In [ ]:
kino.shape # какова форма?

In [ ]:
kino.size # каков размер?

In [ ]:
kino.index # исследуем индекс

In [ ]:
kino.columns # получаем столбцы

### Отбор столбцов в объекте DataFrame

In [ ]:
kino['ranking'].head() # извлекаем столбец ranking

In [ ]:
type(kino['ranking'])

In [ ]:
kino[['director', 'country']].head() # извлекаем столбцы

In [ ]:
type(kino[['director', 'country']])

In [ ]:
kino.director # атрибутивный доступ к столбцу по имени

### Отбор строк в объекте DataFrame

Получаем строку с меткой индекса Карнавальная ночь, которая возвращается в виде объекта Series:

In [ ]:
kino.loc['Карнавальная ночь']

In [ ]:
kino.loc[['Карнавальная ночь', 'Невеста']]

In [ ]:
kino.iloc[[0, 2]] # получаем строки, имеющие позиции 0 и 2

In [ ]:
i1 = kino.index.get_loc('Невеста') # получаем позиции меток в индексе
i2 = kino.index.get_loc('Моя мама Снегурочка')
(i1, i2)

In [ ]:
kino.iloc[[i1, i2]] # и извлекаем строки

### Поиск скалярного значения по метке и позиции с помощью .at[] и .iat[]

Ищем скалярное значение по метке строки и метке (имени) столбца:

In [ ]:
kino.at['Невеста', 'type']

In [ ]:
# ищем скалярное значение по позиции строки и позиции столбца извлекаем значение в строке 0, столбце 1
kino.iat[0, 1]

### Создание среза датафрейма с помощью оператора []

In [ ]:
kino[:5] # первые пять строк

### Логический отбор строк

In [ ]:
kino.ranking

Убрать запятые из значений и перевести их в число.

In [ ]:
kino.ranking = kino.ranking.str.replace(',','.')
kino.ranking

In [ ]:
kino.ranking = kino.ranking.astype(float)
kino.ranking

In [ ]:
kino.ranking < 10

In [ ]:
kino[kino.ranking < 10]

In [ ]:
r = kino[(kino.ranking < 10) & (kino.year > 2002)]['country']
r

In [ ]:
r = kino[(kino.country == 'Россия') & (kino.ranking >= 7)] [['director', 'type']]
r

### Одновременный отбор строк и столбцов

In [ ]:
kino.loc[['Моя мама Снегурочка', 'Набережная Орфевр']][['director', 'type']]