<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/упражнения/syn_scan.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/%D1%83%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F/data/synscan.csv")
df.head(5)

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,172.16.0.8,64.13.134.52,TCP,58,36050 > 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
1,2,0.001539,172.16.0.8,64.13.134.52,TCP,58,36050 > 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
2,3,0.001597,172.16.0.8,64.13.134.52,TCP,58,36050 > 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...
3,4,0.001650,172.16.0.8,64.13.134.52,TCP,58,36050 > 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
4,5,0.001703,172.16.0.8,64.13.134.52,TCP,58,36050 > 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460

In [4]:
df.tail(5)

,No.,Time,Source,Destination,Protocol,Length,Info
2006,2007,9.387931,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S..."
2007,2008,11.064190,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S..."
2008,2009,21.093215,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 53 > 36050 [SYN, ACK] S..."
2009,2010,21.401180,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S..."
2010,2011,23.085343,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S..."