<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/упражнения/syn_scan.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

# Описание проекта

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/%D1%83%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F/data/synscan.csv")
df.head(5)

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,172.16.0.8,64.13.134.52,TCP,58,36050 > 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
1,2,0.001539,172.16.0.8,64.13.134.52,TCP,58,36050 > 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
2,3,0.001597,172.16.0.8,64.13.134.52,TCP,58,36050 > 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...
3,4,0.001650,172.16.0.8,64.13.134.52,TCP,58,36050 > 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
4,5,0.001703,172.16.0.8,64.13.134.52,TCP,58,36050 > 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460

In [4]:
df.tail(5)

,No.,Time,Source,Destination,Protocol,Length,Info
2006,2007,9.387931,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S..."
2007,2008,11.064190,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S..."
2008,2009,21.093215,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 53 > 36050 [SYN, ACK] S..."
2009,2010,21.401180,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S..."
2010,2011,23.085343,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S..."

In [6]:
df.Info[2010]

'[TCP Retransmission] 22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 Len=0 MSS=1380'

найти фразу "TCP Retransmission", добавить столбец "TCP_Retransmission" со значением True, удалить фразу "TCP Retransmission":

In [7]:
df.Info.str.find("[TCP Retransmission]")

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
2006    0
2007    0
2008    0
2009    0
2010    0
Name: Info, Length: 2011, dtype: int64

In [8]:
df["tcp_retransmission"] = df.Info.str.find("[TCP Retransmission]")  
df["tcp_retransmission"]

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
2006    0
2007    0
2008    0
2009    0
2010    0
Name: tcp_retransmission, Length: 2011, dtype: int64

In [9]:
df["tcp_retransmission"] = np.where(df["tcp_retransmission"] == 0, True, False)
df["tcp_retransmission"]

0       False
1       False
2       False
3       False
4       False
        ...
2006     True
2007     True
2008     True
2009     True
2010     True
Name: tcp_retransmission, Length: 2011, dtype: bool

In [10]:
df.head()

,No.,Time,Source,Destination,Protocol,Length,Info,tcp_retransmission
0,1,0.000000,172.16.0.8,64.13.134.52,TCP,58,36050 > 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
1,2,0.001539,172.16.0.8,64.13.134.52,TCP,58,36050 > 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
2,3,0.001597,172.16.0.8,64.13.134.52,TCP,58,36050 > 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...,False
3,4,0.001650,172.16.0.8,64.13.134.52,TCP,58,36050 > 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
4,5,0.001703,172.16.0.8,64.13.134.52,TCP,58,36050 > 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False

In [11]:
df.columns = [x.lower() for x in df.columns]
df.tail()

,no.,time,source,destination,protocol,length,info,tcp_retransmission
2006,2007,9.387931,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S...",True
2007,2008,11.064190,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S...",True
2008,2009,21.093215,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 53 > 36050 [SYN, ACK] S...",True
2009,2010,21.401180,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 80 > 36050 [SYN, ACK] S...",True
2010,2011,23.085343,64.13.134.52,172.16.0.8,TCP,60,"[TCP Retransmission] 22 > 36050 [SYN, ACK] S...",True

In [12]:
df["info"] = df["info"].str.replace(r"[TCP Retransmission]", "", regex=False) # отключаем регулярки
df["info"]

0       36050  >  443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
1       36050  >  143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
2       36050  >  3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...
3       36050  >  199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
4       36050  >  111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460
                              ...
2006     80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2007     22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2008     53  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2009     80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
2010     22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 ...
Name: info, Length: 2011, dtype: object

In [13]:
df["info"] = df["info"].str.strip()
df["info"]

0       36050  >  443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
1       36050  >  143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
2       36050  >  3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...
3       36050  >  199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460
4       36050  >  111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460
                              ...
2006    80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2007    22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2008    53  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2009    80  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
2010    22  >  36050 [SYN, ACK] Seq=0 Ack=1 Win=5840 L...
Name: info, Length: 2011, dtype: object

In [14]:
df.head()

,no.,time,source,destination,protocol,length,info,tcp_retransmission
0,1,0.000000,172.16.0.8,64.13.134.52,TCP,58,36050 > 443 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
1,2,0.001539,172.16.0.8,64.13.134.52,TCP,58,36050 > 143 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
2,3,0.001597,172.16.0.8,64.13.134.52,TCP,58,36050 > 3306 [SYN] Seq=0 Win=2048 Len=0 MSS=...,False
3,4,0.001650,172.16.0.8,64.13.134.52,TCP,58,36050 > 199 [SYN] Seq=0 Win=3072 Len=0 MSS=1460,False
4,5,0.001703,172.16.0.8,64.13.134.52,TCP,58,36050 > 111 [SYN] Seq=0 Win=1024 Len=0 MSS=1460,False

In [ ]:
# здесь код: