В [файле](https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/students.stat) следующие поля:
    
- *gender* — пол абитуриента;
- *race/ethnicity* — национальность (зашифрована в виде значений "Group A", "Group B" и т.д.);
- *parental level of education* — уровень образования родителей;
- *lunch* — насколько качественно пообедал абитуриент перед тестом;
- *test preparation course* — закончил ли абитуриент подготовительные курсы;
- *math score* — оценка по математике;
- *reading score* — оценка по чтению;
- *writing score* — оценка по письму.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/students.stat")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Задание 0

Считаем девочек и мальчиков.

## Задание 1

У скольких абитуриентов родители имеют диплом бакалавра (bachelor's degree)?

Ответ в виде целого числа.

## Задание 2

Сколько разных вариантов значений встречается в столбце "parental level of education"?

Ответ в виде целого числа.

## Задание 3

Сколько процентов абитуриентов полноценно пообедали перед экзаменом? (У скольких процентов абитуриентов значение столбца "lunch" = "standard").

Ответ в виде десятичной дроби.

## Задание 4

Сколько абитуриентов относится к этнической группе "group C"?

Ответ в виде целого числа.

### Задание 5

Сколько разных этнических групп встречается в файле?

Ответ в виде целого числа.

### Задание 6

Вычислите средний балл абитуриентов на экзамене по чтению (reading score).

Ответ в виде одного числа.

### Задание 7

Сколько абитуриентов получили на экзамене по чтению (reading score) оценку ниже среднего?

### Задание 8

Какой средний балл на экзамене по чтению (reading score) получили девочки?

Ответ округлите до трёх знаков после запятой.

### Задание 9

Сколько абитуриентов получили на экзамене по письму (writing score) оценку выше 90?

### Задание 10

Сколько процентов абитуриентов, получивших на экзамене по письму (writing score) оценку более 90, хорошо пообедали перед экзаменом (lunch = standard)?

Ответ округлите до одного знака после запятой.

### Задание 11

Сколько мальчиков хорошо пообедали перед экзаменом (lunch = standard)?

Ответ в виде одного числа.

### Задание 12

Сколько мальчиков закончили подготовительные курсы (test preparation course = completed)?

Ответ в виде одного числа.

### Задание 13

У скольких девочек родители имеют степень магистра (parental level of education = master's degree)?

Ответ в виде одного числа.

### Задание 14

Сколько абитуриентов, относящихся к этнической группе С, закончили подготовительные курсы?

Ответ введите в виде одного числа.

### Задание 15

Сколько девочек, родители которых имеют степень магистра, набрали по математике больше 90 баллов?

Ответ введите в виде одного числа.