**Examples**

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(data={'Animal': ['fox', 'Kangaroo', 'deer',
                                   'spider', 'snake'],
                        'Number_legs': [4, 2, 4, 8, np.nan]})
df

     Animal  Number_legs
0       fox          4.0
1  Kangaroo          2.0
2      deer          4.0
3    spider          8.0
4     snake          NaN

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-rank.png" alt="Pandas: DataFrame - Rank." title="Title text" height="" width="" />

В следующем примере показано, как метод ведет себя с указанными выше параметрами:

In [3]:
df['default_rank'] = df['Number_legs'].rank()
df['max_rank'] = df['Number_legs'].rank(method='max')
df['NA_bottom'] = df['Number_legs'].rank(na_option='bottom')
df['pct_rank'] = df['Number_legs'].rank(pct=True)
df

     Animal  Number_legs  default_rank  max_rank  NA_bottom  pct_rank
0       fox          4.0           2.5       3.0        2.5     0.625
1  Kangaroo          2.0           1.0       1.0        1.0     0.250
2      deer          4.0           2.5       3.0        2.5     0.625
3    spider          8.0           4.0       4.0        4.0     1.000
4     snake          NaN           NaN       NaN        5.0       NaN

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-rank-1.png" alt="Pandas: DataFrame - default_Rank." title="Title text" height="" width="" />

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-rank-2.png" alt="Pandas: DataFrame - Max_Rank." title="Title text" height="" width="" />

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-rank-3.png" alt="Pandas: DataFrame - NA_bottom." title="Title text" height="" width="" />

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-rank-4.png" alt="Pandas: DataFrame - pct_rank." title="Title text" height="" width="" />